# 4.8: Grouping Data and Aggregating Variables

## This script includes the following points:

1. Import libraries and data sets
2. Aggregate mean of order_number - grouped by department_id
3. Difference between dataframe and subset
4. Loyalty Flag
5. Difference between spending habits - loyal, regular and new customers
6. Defining each client by Spending type
7. Ordering Behavior
8. Exporting Data

## 01. Importing Libraries and Data

In [1]:
# importing libraries

import pandas as pd
import numpy as np
import os

In [2]:
# define path

path = r'/Users/robson/Desktop/CareerFoundry/Data Immersion/Achivement 4/19-04-2024 Instacart Basket Analysis'

In [3]:
#import dataframe

ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'prepared_data', 'ords_prods_merge_derived.pkl'))

## 02. Aggregate mean of order_number grouped by department_id

In [4]:
# cleaning all the values above $ 100.00 for consistency

ords_prods_merge.loc[ords_prods_merge['prices'] >100, 'prices'] = np.nan

In [5]:
# function for group the whole dataframe by department_id and then aggregate the order_number mean

ords_prods_merge.groupby('department_id').agg({'order_number':['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

## 03. Differences between dataframe and subset

##### As we can see in the Q2, as well as the code above, there is much more information in the whole dataframe (32,404,859 rows), than in the subset (1 million rows). So, since the whole dataframe is being analyzed, all the department_id is present, instead of only 4, 7, 13, 14, 16, 17, 19, 20 as in the subset. Also, since there is this gigantic difference between the amount of data present in each data set, the mean showed in the subset for those departmnet_id are different than the shown in the dataframe.

In [6]:
ords_prods_merge.shape

(32404859, 18)

## 04: Create a loyalty flag for existing customers - transform() and loc() functions

##### in this step will be created an loyalty flag, which need an max_order column, so three steps need to be followed: (1) Split the data into groups based on the “user_id” column; (2) Apply the transform() function on the “order_number” column to generate the maximum orders for each user; (3) Create a new column, “max_order,” into which you’ll place the results of your aggregation.

In [7]:
# first we will define the max_order of each user_id to then be able to define the loyalty flag

ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

/var/folders/20/jwmkwsbs0qn0p5jn7rklqwnm0000gn/T/ipykernel_5796/2699612054.py:3: FutureWarning: The provided callable <function max at 0x112d09620> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [8]:
# check new column max_order

ords_prods_merge.head(15)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Average orders,10
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest Days,Average orders,10
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest Days,Most orders,10
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest Days,Average orders,10
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest Days,Most orders,10
5,3367565,1,6,2,7,19.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Average orders,10
6,550135,1,7,1,9,20.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest Days,Most orders,10
7,3108588,1,8,1,14,14.0,False,196,2,1,Soda,77,7,9.0,both,Mid-range product,Busiest Days,Most orders,10
8,2295261,1,9,1,16,0.0,False,196,4,1,Soda,77,7,9.0,both,Mid-range product,Busiest Days,Most orders,10
9,2550362,1,10,4,8,30.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest Days,Average orders,10
10,2968173,15,15,1,9,7.0,False,196,2,0,Soda,77,7,9.0,both,Mid-range product,Busiest Days,Most orders,22
11,1870022,15,17,2,16,8.0,False,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Most orders,22
12,1911383,15,18,2,11,7.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Most orders,22
13,2715276,15,21,1,9,7.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest Days,Most orders,22
14,487368,15,22,1,10,14.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest Days,Most orders,22

In [9]:
# check frequency of the new column

ords_prods_merge['max_order'].value_counts(dropna = False)

max_order
99    1171333
8      811843
6      811396
9      810213
7      803979
       ...
97      44949
98      44587
96      40453
2           6
1           5
Name: count, Length: 99, dtype: int64

In [10]:
# after creating the column max_order we need to create a function to fit each client in the exercise criteria
# first the loyal customer

ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal Customer'

In [11]:
# now we will define the regular customer

ords_prods_merge.loc[(ords_prods_merge['max_order'] > 10) & (ords_prods_merge['max_order'] <= 40), 'loyalty_flag'] = 'Regular Customer'

In [12]:
# now we will define the new customer

ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New Customer'

In [13]:
# check frequency of loyalty_flag

ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular Customer    15876776
Loyal Customer      10284093
New Customer         6243990
Name: count, dtype: int64

In [14]:
# check new column 

ords_prods_merge.head(15)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,2539329,1,1,2,8,NaN,True,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Average orders,10,New Customer
1,2398795,1,2,3,7,15.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest Days,Average orders,10,New Customer
2,473747,1,3,3,12,21.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest Days,Most orders,10,New Customer
3,2254736,1,4,4,7,29.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest Days,Average orders,10,New Customer
4,431534,1,5,4,15,28.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest Days,Most orders,10,New Customer
5,3367565,1,6,2,7,19.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Average orders,10,New Customer
6,550135,1,7,1,9,20.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest Days,Most orders,10,New Customer
7,3108588,1,8,1,14,14.0,False,196,2,1,Soda,77,7,9.0,both,Mid-range product,Busiest Days,Most orders,10,New Customer
8,2295261,1,9,1,16,0.0,False,196,4,1,Soda,77,7,9.0,both,Mid-range product,Busiest Days,Most orders,10,New Customer
9,2550362,1,10,4,8,30.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Slowest Days,Average orders,10,New Customer
10,2968173,15,15,1,9,7.0,False,196,2,0,Soda,77,7,9.0,both,Mid-range product,Busiest Days,Most orders,22,Regular Customer
11,1870022,15,17,2,16,8.0,False,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Most orders,22,Regular Customer
12,1911383,15,18,2,11,7.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly Busy,Most orders,22,Regular Customer
13,2715276,15,21,1,9,7.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest Days,Most orders,22,Regular Customer
14,487368,15,22,1,10,14.0,False,196,1,1,Soda,77,7,9.0,both,Mid-range product,Busiest Days,Most orders,22,Regular Customer

## 05. Difference between spending habits from loyal, regular and new customers

In [15]:
# find basic statistics through aggregation function

ords_prods_merge.groupby('loyalty_flag').agg({'order_number': ['mean','min','max', 'sum','median']})

                 order_number
                         mean min max        sum median
loyalty_flag
Loyal Customer      32.641196   1  99  335685098   30.0
New Customer         3.807044   1  10   23771142    3.0
Regular Customer    12.347452   1  40  196037725   11.0

## 06. Define each Client by Spending type

In [16]:
# first we will define the avg_order of each user_id to then be able to define the spender flag

ords_prods_merge['avg_order'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

/var/folders/20/jwmkwsbs0qn0p5jn7rklqwnm0000gn/T/ipykernel_5796/2663909689.py:3: FutureWarning: The provided callable <function mean at 0x112d0a020> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  ords_prods_merge['avg_order'] = ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [17]:
# check if the new column was created

ords_prods_merge.head(15)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,aisle_id,department_id,prices,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_order
0,2539329,1,1,2,8,NaN,True,196,1,0,...,77,7,9.0,both,Mid-range product,Regularly Busy,Average orders,10,New Customer,6.367797
1,2398795,1,2,3,7,15.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Slowest Days,Average orders,10,New Customer,6.367797
2,473747,1,3,3,12,21.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Slowest Days,Most orders,10,New Customer,6.367797
3,2254736,1,4,4,7,29.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Slowest Days,Average orders,10,New Customer,6.367797
4,431534,1,5,4,15,28.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Slowest Days,Most orders,10,New Customer,6.367797
5,3367565,1,6,2,7,19.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly Busy,Average orders,10,New Customer,6.367797
6,550135,1,7,1,9,20.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Busiest Days,Most orders,10,New Customer,6.367797
7,3108588,1,8,1,14,14.0,False,196,2,1,...,77,7,9.0,both,Mid-range product,Busiest Days,Most orders,10,New Customer,6.367797
8,2295261,1,9,1,16,0.0,False,196,4,1,...,77,7,9.0,both,Mid-range product,Busiest Days,Most orders,10,New Customer,6.367797
9,2550362,1,10,4,8,30.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Slowest Days,Average orders,10,New Customer,6.367797
10,2968173,15,15,1,9,7.0,False,196,2,0,...,77,7,9.0,both,Mid-range product,Busiest Days,Most orders,22,Regular Customer,3.980556
11,1870022,15,17,2,16,8.0,False,196,6,1,...,77,7,9.0,both,Mid-range product,Regularly Busy,Most orders,22,Regular Customer,3.980556
12,1911383,15,18,2,11,7.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Regularly Busy,Most orders,22,Regular Customer,3.980556
13,2715276,15,21,1,9,7.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Busiest Days,Most orders,22,Regular Customer,3.980556
14,487368,15,22,1,10,14.0,False,196,1,1,...,77,7,9.0,both,Mid-range product,Busiest Days,Most orders,22,Regular Customer,3.980556

In [18]:
# first define the low spender

ords_prods_merge.loc[ords_prods_merge['avg_order'] < 10, 'spending_flag'] = 'Low Spender'

In [19]:
# now define the high spender

ords_prods_merge.loc[ords_prods_merge['avg_order'] >= 10, 'spending_flag'] = 'High Spender'

In [20]:
# check if new column was created

ords_prods_merge.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,department_id,prices,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_order,spending_flag
0,2539329,1,1,2,8,NaN,True,196,1,0,...,7,9.0,both,Mid-range product,Regularly Busy,Average orders,10,New Customer,6.367797,Low Spender
1,2398795,1,2,3,7,15.0,False,196,1,1,...,7,9.0,both,Mid-range product,Slowest Days,Average orders,10,New Customer,6.367797,Low Spender
2,473747,1,3,3,12,21.0,False,196,1,1,...,7,9.0,both,Mid-range product,Slowest Days,Most orders,10,New Customer,6.367797,Low Spender
3,2254736,1,4,4,7,29.0,False,196,1,1,...,7,9.0,both,Mid-range product,Slowest Days,Average orders,10,New Customer,6.367797,Low Spender
4,431534,1,5,4,15,28.0,False,196,1,1,...,7,9.0,both,Mid-range product,Slowest Days,Most orders,10,New Customer,6.367797,Low Spender

In [21]:
# check frequency

ords_prods_merge['spending_flag'].value_counts(dropna = False)

spending_flag
Low Spender     32285131
High Spender      119728
Name: count, dtype: int64

## 07. Ordering Behavior

In [22]:
# first we will define the median_prior_order of each user_id to then be able to define the frequency flag

ords_prods_merge['median_prior_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

/var/folders/20/jwmkwsbs0qn0p5jn7rklqwnm0000gn/T/ipykernel_5796/2342135353.py:3: FutureWarning: The provided callable <function median at 0x112e4a0c0> is currently using SeriesGroupBy.median. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "median" instead.
  ords_prods_merge['median_prior_order'] = ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [23]:
# check if the new column was created

ords_prods_merge.head(15)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,prices,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_order,spending_flag,median_prior_order
0,2539329,1,1,2,8,NaN,True,196,1,0,...,9.0,both,Mid-range product,Regularly Busy,Average orders,10,New Customer,6.367797,Low Spender,20.5
1,2398795,1,2,3,7,15.0,False,196,1,1,...,9.0,both,Mid-range product,Slowest Days,Average orders,10,New Customer,6.367797,Low Spender,20.5
2,473747,1,3,3,12,21.0,False,196,1,1,...,9.0,both,Mid-range product,Slowest Days,Most orders,10,New Customer,6.367797,Low Spender,20.5
3,2254736,1,4,4,7,29.0,False,196,1,1,...,9.0,both,Mid-range product,Slowest Days,Average orders,10,New Customer,6.367797,Low Spender,20.5
4,431534,1,5,4,15,28.0,False,196,1,1,...,9.0,both,Mid-range product,Slowest Days,Most orders,10,New Customer,6.367797,Low Spender,20.5
5,3367565,1,6,2,7,19.0,False,196,1,1,...,9.0,both,Mid-range product,Regularly Busy,Average orders,10,New Customer,6.367797,Low Spender,20.5
6,550135,1,7,1,9,20.0,False,196,1,1,...,9.0,both,Mid-range product,Busiest Days,Most orders,10,New Customer,6.367797,Low Spender,20.5
7,3108588,1,8,1,14,14.0,False,196,2,1,...,9.0,both,Mid-range product,Busiest Days,Most orders,10,New Customer,6.367797,Low Spender,20.5
8,2295261,1,9,1,16,0.0,False,196,4,1,...,9.0,both,Mid-range product,Busiest Days,Most orders,10,New Customer,6.367797,Low Spender,20.5
9,2550362,1,10,4,8,30.0,False,196,1,1,...,9.0,both,Mid-range product,Slowest Days,Average orders,10,New Customer,6.367797,Low Spender,20.5
10,2968173,15,15,1,9,7.0,False,196,2,0,...,9.0,both,Mid-range product,Busiest Days,Most orders,22,Regular Customer,3.980556,Low Spender,10.0
11,1870022,15,17,2,16,8.0,False,196,6,1,...,9.0,both,Mid-range product,Regularly Busy,Most orders,22,Regular Customer,3.980556,Low Spender,10.0
12,1911383,15,18,2,11,7.0,False,196,1,1,...,9.0,both,Mid-range product,Regularly Busy,Most orders,22,Regular Customer,3.980556,Low Spender,10.0
13,2715276,15,21,1,9,7.0,False,196,1,1,...,9.0,both,Mid-range product,Busiest Days,Most orders,22,Regular Customer,3.980556,Low Spender,10.0
14,487368,15,22,1,10,14.0,False,196,1,1,...,9.0,both,Mid-range product,Busiest Days,Most orders,22,Regular Customer,3.980556,Low Spender,10.0

In [24]:
# first define the non-frequent customer

ords_prods_merge.loc[ords_prods_merge['median_prior_order'] > 20, 'order_frequency_flag'] = 'Non-frequent Customer'

In [25]:
# now define the regular customer

ords_prods_merge.loc[(ords_prods_merge['median_prior_order'] > 10) & (ords_prods_merge['median_prior_order'] <= 20), 'order_frequency_flag'] = 'Regular Customer'

In [26]:
# now define the frequent customer

ords_prods_merge.loc[ords_prods_merge['median_prior_order'] <= 10, 'order_frequency_flag'] = 'Frequent Customer'

In [27]:
# check if new column was created

ords_prods_merge.head(15)

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,...,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_order,spending_flag,median_prior_order,order_frequency_flag
0,2539329,1,1,2,8,NaN,True,196,1,0,...,both,Mid-range product,Regularly Busy,Average orders,10,New Customer,6.367797,Low Spender,20.5,Non-frequent Customer
1,2398795,1,2,3,7,15.0,False,196,1,1,...,both,Mid-range product,Slowest Days,Average orders,10,New Customer,6.367797,Low Spender,20.5,Non-frequent Customer
2,473747,1,3,3,12,21.0,False,196,1,1,...,both,Mid-range product,Slowest Days,Most orders,10,New Customer,6.367797,Low Spender,20.5,Non-frequent Customer
3,2254736,1,4,4,7,29.0,False,196,1,1,...,both,Mid-range product,Slowest Days,Average orders,10,New Customer,6.367797,Low Spender,20.5,Non-frequent Customer
4,431534,1,5,4,15,28.0,False,196,1,1,...,both,Mid-range product,Slowest Days,Most orders,10,New Customer,6.367797,Low Spender,20.5,Non-frequent Customer
5,3367565,1,6,2,7,19.0,False,196,1,1,...,both,Mid-range product,Regularly Busy,Average orders,10,New Customer,6.367797,Low Spender,20.5,Non-frequent Customer
6,550135,1,7,1,9,20.0,False,196,1,1,...,both,Mid-range product,Busiest Days,Most orders,10,New Customer,6.367797,Low Spender,20.5,Non-frequent Customer
7,3108588,1,8,1,14,14.0,False,196,2,1,...,both,Mid-range product,Busiest Days,Most orders,10,New Customer,6.367797,Low Spender,20.5,Non-frequent Customer
8,2295261,1,9,1,16,0.0,False,196,4,1,...,both,Mid-range product,Busiest Days,Most orders,10,New Customer,6.367797,Low Spender,20.5,Non-frequent Customer
9,2550362,1,10,4,8,30.0,False,196,1,1,...,both,Mid-range product,Slowest Days,Average orders,10,New Customer,6.367797,Low Spender,20.5,Non-frequent Customer
10,2968173,15,15,1,9,7.0,False,196,2,0,...,both,Mid-range product,Busiest Days,Most orders,22,Regular Customer,3.980556,Low Spender,10.0,Frequent Customer
11,1870022,15,17,2,16,8.0,False,196,6,1,...,both,Mid-range product,Regularly Busy,Most orders,22,Regular Customer,3.980556,Low Spender,10.0,Frequent Customer
12,1911383,15,18,2,11,7.0,False,196,1,1,...,both,Mid-range product,Regularly Busy,Most orders,22,Regular Customer,3.980556,Low Spender,10.0,Frequent Customer
13,2715276,15,21,1,9,7.0,False,196,1,1,...,both,Mid-range product,Busiest Days,Most orders,22,Regular Customer,3.980556,Low Spender,10.0,Frequent Customer
14,487368,15,22,1,10,14.0,False,196,1,1,...,both,Mid-range product,Busiest Days,Most orders,22,Regular Customer,3.980556,Low Spender,10.0,Frequent Customer

In [28]:
# check frequency

ords_prods_merge['order_frequency_flag'].value_counts(dropna = False)

order_frequency_flag
Frequent Customer        21559853
Regular Customer          7208564
Non-frequent Customer     3636437
nan                             5
Name: count, dtype: int64

## 08. Exporting Data

In [29]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'prepared_data', 'order_prods_merge_aggregated.pkl'))